.navbar {
overflow: hidden;
background-color: #333;
}

.navbar a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
background-color:#ddd;
color: black;
}
 h3 {
      -webkit-animation:colorchange 5s infinite alternate;
}

@-webkit-keyframes colorchange{
  0% {
    color: FFD400;
  }
  20% {
    color: 00FF63;
  }
   40% {
     color: blue;
  }
  60% {
    color: 0040FF;
  }
  80% {
    color: purple;
  }
  100% {
    color: green:
  }
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


